.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding-top: var(--padding-header-container);
    padding-bottom: var(--padding-header-container);
    align-items: center;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
}

.header__logo:hover {
    width: 102%;
}

.header--izquierda {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__buscador {
    margin-left: var(--margin-left-header-buscador);
    position: relative;
}

.header__buscador-icon-responsive {
    display: none;
}


.header__buscador-input {
    background: var(--contrast-ligth-color);
    width: var(--width-header-buscador);
    height: 2.5rem;
    border-radius: 1.25rem;
    padding-left: 1rem;
}


.header__buscador-icon {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}

.header__login-boton {
    font-size: var(--font-size-button);
    border: 1px solid var(--button-color);
    color: var(--button-color);
    width: var(--width-header-button);
    height: var(--height-header-button);
    box-shadow: 0 0 40px 40px var(--primary-color) inset, 0 0 0 0 var(--primary-color);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.header__login-boton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--button-color) inset, 0 0 10px 4px var(--button-color);
    color: var(--primary-color);
    background-color: var(--button-color);
}


.header__resultado {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

}

.resultado__link {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    background-color: var(--secundary-color);
    padding: 0.5rem;
    box-shadow: var(--box-shadow);
}

.resultado__link:hover {
    color: var(--button-color);
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .header__logo {
        width: 6.25rem;
        height: 1.75rem;
    }
}


@media (max-width: 360px) {
    .header__buscador-input {
        display: none;
    }

    .header__buscador-icon {
        display: none;
    }

    .header__buscador-icon-responsive {
        display: flex;
    }
}